@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@theme {
 --font-san :"Open Sans", sans-serif;
 --font-dms: "DM Sans", sans-serif;
}

html{
    scroll-behavior: smooth;
}